*{ 
    margin: 0pt;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Inconsolata', monospace;
    /* color: 	#F0EAD6; */
    /* background-color: #313639; */

}
@keyframes fadeIn{ 
    0%{opacity: 0;}
    25%{opacity: .25;}
    50%{opacity: .5;}
    75%{opacity: .7;}
    100%{opacity: .75;}
}

.intro-box{ 
    background-color: #334251;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: 	#F0EAD6;
}
.review-text{
    font-size: 15pt;
    font-weight: 700;
}
.container{ 
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: khaki; */
}
.first-project{ 
    box-shadow: 18px 20px 30px -6px black;
    background-color: ivory;
    height: 70vh;
    width: 65vw;
    display: flex;
    flex-direction: row;
}
.left-div{ 
    display: flex;
    /* align-items: center;
    justify-content: center; */
    border-radius: 8px;
    align-self: center;
    /* left:0%;  */
    position: absolute;
}

.left-div-description{
    color: white;
    border-radius: 8px;
    transition: opacity 1s ease;
    opacity: 0;
    background-color: 	#2b2b2b;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center ;
    // margin-left: 15px ;
}

.left-div-description:hover{ 
    margin: 20pt; 
    opacity: .8;
    position: absolute;
    
   

}

.right-div{ 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    align-self: center;
    /* right:0%;  */
    position: absolute;
}

.boxes{ 
    background-color: lightblue;
    height: 100vh;
    width: 100vw; 
    border-radius: 1%;
    overflow: hidden;
}

.box8{ 
    margin: 10pt; 
    margin-top: 150pt;
    background-color: inherit;
    height: 150pt;
    width: 50vw; 
    border-radius: 5%;
}

.nav{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    width: 50%;
}

.links{
    margin: 10px;
}

a{ 
    text-decoration: none;
    color: #696865;
}

a:hover{ 
    color: 	#F0EAD6;
}

.title-text{ 
    width: 100vw;
    position: absolute;
    top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.contact-form-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #4f745e;
    
}

textarea{ 
    height: 45vh;
    text-decoration: none;
    resize: none; 
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-form{ 
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 85vh;
    width: 40vw;
    background-color: #F0EAD6;
    border-radius: 8px;
}

button{ 
    border-radius: 8px;
    align-self: center;
    width: 5vw;
    margin: 25px;
    border: none;
    background-color: #de5246;
    color: white;
    height: 35px;
     
}
button:hover{ 
    background-color:#cf6259;
    width: 80px;
    
}

p{ 
    height: fit-content; 
    margin-left: 10px;
    margin-right: 10px;
}

a{ 
    margin: 35px;
}



input{ 
    border: none;
    border-radius: 15px;
    margin-top: 5px;
    height: 3.5em;
}
label{ 
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-form-name{ 
    margin-bottom: 9px;
    
    display: flex;
    flex-direction: column;
}